openapi: 3.1.0
info:
  title: Crayon Agreements Users API
  description: 'Crayon''s REST API for managing CSP organizations, users, customer tenants,

    Microsoft subscriptions, Azure plans, agreements, invoices and billing

    statements. Endpoint inventory drawn from the public scenarios catalog at

    https://apidocs.crayon.com.

    '
  version: '1.0'
  contact:
    name: Crayon API Support
    url: https://apidocs.crayon.com
servers:
- url: https://api.crayon.com/api/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: Users
paths:
  /users:
    get:
      summary: List users
      operationId: getUsers
      tags:
      - Users
      responses:
        '200':
          description: Users
    post:
      summary: Create user
      operationId: createUser
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
  /users/{id}:
    get:
      summary: Get user
      operationId: getUser
      tags:
      - Users
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: User
    patch:
      summary: Update user
      operationId: updateUser
      tags:
      - Users
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
    delete:
      summary: Delete user
      operationId: deleteUser
      tags:
      - Users
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.crayon.com/api/v1/connect/token
          scopes: {}
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
