openapi: 3.1.0
info:
  title: Crayon Agreements CustomerTenants API
  description: 'Crayon''s REST API for managing CSP organizations, users, customer tenants,

    Microsoft subscriptions, Azure plans, agreements, invoices and billing

    statements. Endpoint inventory drawn from the public scenarios catalog at

    https://apidocs.crayon.com.

    '
  version: '1.0'
  contact:
    name: Crayon API Support
    url: https://apidocs.crayon.com
servers:
- url: https://api.crayon.com/api/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: CustomerTenants
paths:
  /customerTenants:
    get:
      summary: List customer tenants
      operationId: getCustomerTenants
      tags:
      - CustomerTenants
      responses:
        '200':
          description: Customer tenants
    post:
      summary: Create customer tenant
      operationId: createCustomerTenant
      tags:
      - CustomerTenants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created
  /customerTenants/{id}:
    get:
      summary: Get customer tenant
      operationId: getCustomerTenant
      tags:
      - CustomerTenants
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Customer tenant
    delete:
      summary: Delete customer tenant
      operationId: deleteCustomerTenant
      tags:
      - CustomerTenants
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.crayon.com/api/v1/connect/token
          scopes: {}
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
